<% provide(:title, 'درباره ما') %>

<div class="MainAbout"  >
<div id="AbPic" >
</div>
<div id="AbPic2"  >
</div>
    <div id="AbPic3"  >
</div>
<div id="Abcontext"   >
<p class="TxtP">

 سامانه ی خودرو شباهنگ از دی ماه سال 1393 کار خود را آغاز کرد
این سامانه به منظور راحتی مشتریان خود این امکان را فراهم کرده است که مشتری پس از ثبت نام قادر به یافتن خودرو هایی که در نزدیکترین نقطه به او هستند باشد
و پس از مشاهده ی مکان خودرو به آن مراجعه کرده و از آن استفاده کند
    <br />

شماره های تماس : 77 77 442 021
        <br />
 ایمیل : shabahang@ut.ac.ir

</p>
</div>

</div>

