<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyB5gi1C4t7kUuRsAYOSNNvi0wcPDauVkJU &sensor=false&libraries=places,geometry ">
</script>

<script>
  function initialize() {
  var mapCanvas = document.getElementById('map-canvas');
   var myLatlng = new google.maps.LatLng(35.696208750953396, 51.4229491353035);
   var mapOptions = {
           zoom: 14,
       center: myLatlng,

      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas , mapOptions);

    var image = '../img/car_1.png';

    var car1latlng = new google.maps.LatLng(35.706623077392580, 51.411830902099610);
	 var marker = new google.maps.Marker({
      position: car1latlng,
      map: map,
      title: 'prid',
      icon: image

  });

   var car2latlng = new google.maps.LatLng(35.702335357666016, 51.412712097167970);
   var marker = new google.maps.Marker({
      position: car2latlng,
      map: map,
      title: 'samand',
      icon: image

  });

  
  }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas"></div>

<ul class="cars">
  <% @carsAtt.each do |car| %>
    <li>
    <%=  car.id %> -   <%=  car.carType %>  
    <br>
     <%=  car.lng %> <%=  car.lat %> 
    </li>
  <% end %>
</ul>
