<% provide(:title, 'قوانین') %>

<div class="MainLow">
<div id="LPic"  >
</div>
   
<div id="Lcontext"   >
<p class="TxtLow">

 
 ضمن تبریک وتشکر به دلیل انتخاب شایسته تان
 سامانه خودرو یاب شباهنگ برای راحتی استفاده شما قوانین زیر را در نظر گرفته است:
 <br/>
 <br/>
 <br/>
 1-برای استفاده از امکانات این سامانه حتما در سایت عضو شوید
  <br/>
  2-پس از عضویت و شارژ حساب خود قادر خواهید بود از تمامی امکانات این سامانه استفاده کنید
   <br/>
   3-افرادی که از این سامانه استفاده کرده و عضویت آن را میپذیرند حتما باید دارای گواهینامه باشند
    <br/>
    4-پس از انتخاب خودروی مورد نظر تا حداکثر 30 دقیقه مهلت دارید تا خود را به خودروی مورد نظر برسانید در  غیر اینصورت از حساب شما مبلغی کسر شده و خودرو به مشتری بعدی تحویل میشود. <br/><br/><br/>
   <br/>
 از انتخاب شما متشکریم
 <br/>

    مدیریت سامانه خودرو بارک شباهنگ
 </p>
</div>


</div>
