<% provide(:title, "ورود") %>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ورود", class: " btn shabahangBtn" %>
    <% end %>

    <br>
    <p>کاربر جدید هستید‌؟ <%= link_to "ثبت نام کنید ", signup_path %></p>
  </div>
</div>