<% provide(:title, "مشخصات حساب کاربری") %>
<br>

<div class="infoField">نام : </div><div class="infoValue"><%= @user.name %></div>

<br>

<div class="infoField">ایمیل : </div><div class="infoValue"><%= @user.email %></div>

<br>

<div class="infoField">شارژ حساب : </div><div class="infoValue chargValue"><%= @user.charg %></div>

<br>

