// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightPinkColor: #eb7979;
$DarkPinkColor: #b31b42;

.shabahangBtn
{
	background-color: $DarkPinkColor;
	color: white;
	font-weight: bold;
	font-size: 18px !important;
}