// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

$black: #000000;
$darkPink: #eaeaea;
$lightGray: #eaeaea;
$lightPink: #eaeaea;

body
{

	 margin: 0;
	 padding:0px;
	 direction: rtl;
	 color: $black;
}

#map-canvas
 {
 	min-width: 300px;
 	min-height: 600px;
    width: 100%;
    height: 100%;
	background-color: #CCC;
}

.container
{
	position: relative;
	min-width: 100%;
 	min-height: 100%;
	width: 100%;
    height: 100%;
}

.main_table td
{
 	vertical-align:top;
}


.main_table
{
	 margin: 0;
	 padding:0px;
	 width:100%;
 	min-height:768px;
}
.menu_col
{
	 background-color:#EB7979;
	 width:275px;
	 min-height: 800px;
	 height: 100%;
	 height: 768px;
}
.header
{
	 background-color: #B31B42;
	 padding: 20px;
	 color:#fff;
}

.content_col
{
	position: relative;
}

.sidebarMenuImage
{
	width: 50px;
	height: 50px;
	vertical-align: middle;
	position: fixed;
	padding-right: 10px;
	padding-top: 2px;
	
}


.sidebarText
{
	color: white;
	font-size: 18px;
	display: block;
	margin-right: 50px;
	margin-top: 15px;
}



.MainAbout {

	width: 100%;
	height: 700px;
	background-color: $lightGray;
}

#AbPic{
position: absolute;
right: 600px;
width: 315px; height: 245px;
background-image:url('../img/1.jpg');
background-size:cover;
	
}
#AbPic2{
position: absolute;
right: 600px; 
top: 405px; 
width: 315px; 
height: 258px;
background-image:url('../img/2.jpg');

}
#AbPic3{
position: absolute;
right: 280px;  
top: 330px; 
width: 305px; 
height: 114px;
background-image:url('../img/4.gif');

}
#Abcontext{
background-size:cover;
  padding: 20px;
  height: 649px; 
  width: 331px;

}
.TxtP
{
	text-align:right;
	font-size: 15px;
	direction :rtl ;
	
}



.MainLow 
{

	width: 100%;
	height: 700px;
	 top: 26px;
	background-color:$lightGray;
}

#LPic{

top: 22px;
left: 331px; top: 11px; width: 245px; height: 180px;
background-image:url('../img/1.jpg');
background-size:cover;
	
}
#LPic2{
right: 13px; 
top: 405px; 
width: 315px; 
background-size:cover;

height: 258px;
background-image:url('../img/2.jpg');

}
#LPic3{
 
background-size:cover;
background-image:url('../img/1.gif');
right: 12px; 
top: 7px; 
height: 143px; 
width: 302px;

}
#Lcontext{
	background-size:cover;
	padding: 20px;
	left: 31px; top: 163px; width: 633px; height: 510px; 
}

.TxtLow
{text-align:right;
font-size: 15px;
direction :rtl ;	
}
.box1
{
border: thick;
border-style:double;
width: 101px; height: 33px;
border-bottom-color:black;
text-align:center ;
background-color: #999999;
font-size:large;
margin-left: auto ;

	
}