// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* forms */

input, textarea, select, .uneditable-input 
{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

.infoField
{
	display: inline;

	font-size: 20px;
	direction: rtl;
	padding: 20px;
}
.infoValue
{
	display: inline;

	font-size: 20px;
	direction: rtl;
	padding: 2px;
	color: gray;
}
.chargValue
{
	color: darkred;
	font-size: 28px;

}
