<% provide(:title, 'All Cars') %>
<h1>All Cars</h1>

<ul class="cars">
  <% @cars.each do |car| %>
    <li>
    <%=  car.id %> -   <%=  car.carType %>  
    <br>
     <%=  car.lng %> <%=  car.lat %> 
    </li>
  <% end %>
</ul>
