<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 

  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>
<body>
 
  <table id="main_table" border="0" cellpadding="0" cellspacing="0" class="main_table">
	 <tr>
		 <td id="menu_col" class="menu_col">
		
		 	<table>
		 		<tr>
		 			<%= link_to image_tag("sidebarPic.jpg", alt: "Home"),'../' %>
		 		
		 			<td class="sidebarItem">
		 				 
		 				 <% if logged_in? %>	
							<div class="sidebarMenuImage"><%= image_tag('edit profile.jpg', :class => "sidebarMenuImage") %></div>	
							<div class="sidebarText"><a class="sidebarText" href="../users/<%= @current_user[:id] %>"><%= @current_user[:name] %> خوش آمدید</a></div>

							<div class="sidebarMenuImage"><%= image_tag('dollar.png', :class => "sidebarMenuImage") %></div>
				 			<div class="sidebarText"><a class="sidebarText" href="charging">افزایش اعتبار</a></div>
						<% else %>

							<div class="sidebarMenuImage"><%= image_tag('log in.jpg', :class => "sidebarMenuImage") %></div>

							<div class="sidebarText"><a class="sidebarText" href="<%= login_path %>">ورود</a></div>		 				

							
						<% end %>

		 				<div class="sidebarMenuImage"><%= image_tag('policy.png', :class => "sidebarMenuImage") %></div>
			 			<div class="sidebarText"><a class="sidebarText" href="<%= policy_path %>">قوانین</a></div>

			 			<div class="sidebarMenuImage"><%= image_tag('about.png', :class => "sidebarMenuImage") %></div>
			 			<div class="sidebarText"><a class="sidebarText" href="<%= about_path %>">درباره ما</a></div>

			 			 <% if logged_in? %>
			 				
			 				<div class="sidebarMenuImage"><%= image_tag('Log Off.jpg', :class => "sidebarMenuImage") %></div>
			 			 	<div class="sidebarText"><%= link_to "خروج", logout_path, method: :delete ,:class => "sidebarText" %></div>
			 			 <% end %>

		 			</td>
		 		</tr>
		 	</table>
		 	
		 	
		 </td> 
		 <td id="content_col"> <!— main content-->

		 	
		 <div class="header"><%= full_title(yield(:title)) %></div>

		 	<div >
		 		<%= yield %>
			</div>
		 </td>
	 </tr>

	</table>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
